@use 'variables' as *;

*   { margin: 0; padding: 0; box-sizing: border-box; }

body {
  background: $bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: $font;
  overflow: hidden;
}

#root {
  display: contents;
}
